# PostgreSQL Database Configuration
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=ecommerce

# Prisma Database Connection
DATABASE_URL=postgresql://your_username:your_password@localhost:5432/ecommerce

# Log Levels
LOG_LEVEL=log